<h1>New post</h1>

<%= form_for :post, :url => posts_path, :html => { :class => :form, :multipart => true  } do |f| -%>
        <%= render :partial => "form", :locals => {:f => f} %>
<% end -%>
<!--%= render 'form' %-->

<%= link_to 'Back', posts_path %>
